/* === GLOBAL === */
::-webkit-scrollbar {
  display: none;
}

/* === COLLAPSING BEHAVIOR === */
.collapsed .collapsing {
  opacity: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  pointer-events: none !important;
  display: inline-block !important;
  transition: all 0.2s ease;
}
.addItemsHeader {
  text-align: center;
  font-size: 22px;
  color: var(--text-titles);
  margin-top: 20px;
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-color-secondary);
}
